<!DOCTYPE html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script>
         var app = angular.module('myApp', []);
         
		 /*
			Service
		 */
         app.service('strUtil', function() {
         
             this.strRev = function (x) {
         		return (x.split("").reverse().join(""));
             }
         
         	this.strCount = function (x) {
         		return (x.length);
             }
         
         	this.isNumber = function (x) {
         		return !isNaN(x);
             }
         
         
         });
         
		 /*
			Controller
		 */
         app.controller('myCtrl', function(strUtil) {
			
			/*
				Evaluate Function
			*/
			this.evaluate = function(){					
				this.rev = strUtil.strRev(this.value);
				this.cnt = strUtil.strCount(this.value);
				this.isNumber = strUtil.isNumber(this.value);
			}
			
         });
         
      </script>
   </head>
   <body>
      <div ng-app="myApp" ng-controller="myCtrl as ctrl" style="border:1px solid; position:absolute; margin:50px; padding:50px; color:rgb(255,10,150)">
			
         <p> a number : <input type="text" ng-model="ctrl.value" placeHolder="enter something"></p>
         <p><button ng-click="ctrl.evaluate();" style="background:black; color:white; font-weight:bold; border:5px solid green; margin-left:70px" > Evaluate </button></p>
		 <h1>Entered Value: {{ctrl.value}}</h1>
         <h1>Reverse: {{ctrl.rev}}</h1>
         <h1>Size: {{ctrl.cnt}}</h1>
         <h1>Is number: {{ctrl.isNumber}}</h1>
      </div>
   </body>
</html>